$theme-colors: (
  "primary": #528078,
  "secondary": #eed75a,
  "success": #FEC100,
  "danger": #703B3B,
  "info": #63e792,
  "warning": #FFE869,
  "light": #FDFBF7,
  "dark": #555555
);

@import '~bootstrap';
@import '~bootstrap-vue';